{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block title %}{% trans "Sign Up" %}{% endblock title %}

{% block header %}
<h1>{% trans "Sign Up" %}</h1>
{% endblock header %}

{% block content %}
<!-- Sign Up Page -->
<div class="container mt-5 card shadow p-3" style="max-width: 450px;">
    <div>
        <h1 class="text-center mb-4">{% trans "Sign Up" %}</h1>
        <!-- Login Form -->
        <form class="login" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}

            <!-- Sign In -->
            <div class="d-flex justify-content-center">
                <h6>Already have an account? <a href="{% url 'account_login' %}">sign in</a></h6>
            </div>
            <!-- Customize Fields -->
            {% for field in form %}
            <div class="form-floating mb-3">
                
                <!-- Label and Help Text -->
                {{ field|add_class:"form-control" }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}

                <!-- Username Validation -->
                {% if field.name == 'username' %}
                <p id="username-feedback" class="invalid-feedback d-block" style="display: none;"></p>
                {% endif %}

                <!-- Other Validation -->
                {% for error in field.errors %}
                {% if error != "A user with that username already exists." %}
                <div class="invalid-feedback d-block">
                    {{ error }}
                {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <!-- Submit Button -->
            <button class="btn btn-primary w-100" type="submit">{% trans "Sign Up" %}</button>
        </form>


    </div>
</div>
{% endblock content %}

{% block script %}
{{ block.super }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Username Validation with Debounce
        let usernameTimeout;
        const feedback = $('#username-feedback');

        $('input[name="username"]').on("keyup", function () {
            clearTimeout(usernameTimeout);
            usernameTimeout = setTimeout(() => {
                const username = $(this).val();

                $.ajax({
                    url: "{% url 'account_username_validation' %}",
                    data: {
                        'username': username,
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.username_exists) {
                            feedback.text('This username is already taken.').show();
                            $("button", "form").prop("disabled", true);
                        } else {
                            feedback.text('').hide();
                            $("button", "form").prop("disabled", false);
                        }
                    },
                    error: function (xhr, text, error) {
                        feedback.text('Error validating username.').show();
                    }
                });
            }, 100); // 100ms debounce delay
        });
    });
</script>
{% endblock script %}