companyfacts/
css/
not_use/
webfonts/

__pycache__
db.sqlite3

nasdaq_screener.csv
stock_list.csv

company_tickers.json

bootstrap.bundle.min.js
bootstrap.bundle.min.js.map
jquery-3.6.0.min.js
Chart.js

logo.html

django.log

problem_solving.md

.env
.idea
.venv