/* For sidebar */
[data-bs-theme="dark"] .btn-toggle-nav a:hover,
[data-bs-theme="dark"] .btn-toggle-nav a:focus {
    background-color: rgba(255, 255, 255, 0.1);
}

[data-bs-theme="light"] .btn-toggle-nav a:hover,
[data-bs-theme="light"] .btn-toggle-nav a:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

/* For text */
[data-bs-theme="dark"] {
    --soft-text-color: rgba(224, 224, 224, 0.89);
}

[data-bs-theme="dark"] body,
[data-bs-theme="dark"] .table {
    color: var(--soft-text-color);
}

[data-bs-theme="dark"] h1,
[data-bs-theme="dark"] h2,
[data-bs-theme="dark"] h3,
[data-bs-theme="dark"] h4,
[data-bs-theme="dark"] h5,
[data-bs-theme="dark"] h6 {
    color: #f0f0f0;
}

[data-bs-theme="dark"] .table {
    --bs-table-color: var(--soft-text-color);
    --bs-table-striped-color: var(--soft-text-color);
}

[data-bs-theme="dark"] .btn-outline-primary {
    color: #8bb9fe;
    border-color: #8bb9fe;
}

[data-bs-theme="dark"] .btn-outline-primary:hover {
    color: #000;
    background-color: #8bb9fe;
    border-color: #8bb9fe;
}

/* For shadow */
.custom-shadow {
    box-shadow: 0 0 1rem grey;
}
