<!-- Modal to add strategy to strategies list -->
<div class="modal fade" id="add-strategy-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="message-modal-label">Add Strategy To My Strategies</h5>
            </div>

            <!-- Body -->
            <div class="modal-body" id="add-strategy-message-modal-body" data-url="{% url 'add-strategy-to-list' %}">
                {% if strategies_list %}
                <form method="post" action="{% url 'add-strategy-to-list' %}" id="form-add-strategy-to-list">
                    {% csrf_token %}
                    
                    <!-- Strategy's Param -->
                    <label for="name" class="form-label">Strategy Name (Optional)</label>
                    <input class='form-control' type="text" name="name" value="{{ selected_method }}" id="name">
                    <label for="description" class="form-label">Description (optional)</label>
                    <input class='form-control' type="text" name="description" value="" id="description">
                    <!-- Hidden Params -->
                    <input type="text" name="market-cap" value="" hidden>
                    <input type="number" name="position-side" value="" hidden>
                    <input type="number" name="min-stock-price" value="" hidden>
                    <input type="text" name="sector" value="" hidden>
                    <input type="text" name="formula" value="" hidden>
                    <input type="text" name="sort" value="" hidden>

                    {% for list in strategies_list %}
                    <!-- Checkboxes (Strategies List) -->
                    <div class="form-check">
                        <div class="mb-3 d-flex">
                            <input name='strategy-list' class="form-check-input me-2" type="checkbox"
                                value="{{ list.title }}" id="checkbox-{{ list.title }}"
                                oninvalid="this.setCustomValidity('Please select a Strategy List.')" required>
                            <label class="form-check-label flex-grow-1" for="checkbox-{{ list.title }}">
                                {{ list.title }}
                            </label>
                            <small class="text-secondary">created on: {{ list.created_on }}</small>
                        </div>
                    </div>
                    {% endfor %}

                    <!-- Button (Add to Strategies List) -->
                    <button class="btn btn-primary"><i class="bi-plus-circle-fill me-2"></i>Add</button>
                </form>

                {% else %}
                <p>You don't have strategies list yet.</p>
                <!-- Button (Show another modal) -->
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-strategy-list-modal">
                    Create Strategies List
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Modal to create strategies list -->
<div class="modal fade" id="add-strategy-list-modal" tabindex="-1" role="dialog" aria-labelledby="message-modal-label"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="message-modal-label">Add New Strategies List</h5>
            </div>

            <!-- Body -->
            <div class="modal-body" id="message-modal-body">
                <form class="p-2" method="post" action="{% url 'add-strategies-list' %}" id="form-add-strategies-list">
                    {% csrf_token %}

                    <!-- Error message from server -->
                    <small id="error-message-create-strategies-list" class="text-danger"></small>

                    <!-- Input: List Name -->
                    <div class="mb-3">
                        <label for="list-name" class="form-label">List Name</label>
                        <input type="text" name="list-name" id="list-name" class="form-control"
                            placeholder="Enter strategy list name (required)" required>
                    </div>

                    <!-- Input: Description -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description (optional)</label>
                        <input type="text" name="description" id="description" class="form-control"
                            placeholder="Description">
                    </div>

                    <!-- Submit Button -->
                    <input type="submit" value="Create List" class="btn btn-primary my-3">
                </form>
            </div>
        </div>
    </div>
</div>