{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Input params -->
<div class="row">
    <div class="col-md-12">

        <!-- Header -->
        <div class="row">
            <!-- Header -->
            <div class="col-md-3 d-flex align-items-center">
                <h4 class="my-3">Backtest Parameters</h4>
            </div>

            <!-- Collapse button -->
            <div class="col-md-3 d-flex align-items-center">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse"
                        data-bs-target="#backtest_params_area" id="collapse_params_button">
                    {% if collapse %}Show{% else %}Hide{% endif %}
                </button>
            </div>
        </div>

        <!-- Backtest parameters - collapsable area -->
        <div id="backtest_params_area" class="collapse show">
            <form action="{% url 'longshort-backtest' %}" method="post">
                {% csrf_token %}
                <!-- Parameters -->
                <div class="row">
                    <!-- Market Cap -->
                    <div class="col-md-3 my-1">
                        <label>Market Cap</label>
                        <div class="card">
                            <div class="card-body ">
                                {% for mc in market_cap %}
                                <div class="col-md-12 my-1">
                                    <input class="form-check-input" type="checkbox" id={{ mc }} name="market_cap"
                                           {% if mc in selected_market_cap %}checked{% endif %} value="{{ mc }}">
                                    <label class="form-check-label" for={{ mc }}>{{ mc }}</label>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <!-- Methods -->
                    <div class="col-md-9 my-1">
                        <label>Methods</label>
                        <!-- Methods -->
                        <div class="card">
                            <div class="card-body">
                                <!-- search bar -->
                                <div class="row p-2">
                                    <div class="col-md-12">
                                        <!-- search bar -->
                                        <div class="form-group mb-0">
                                            <input type="text" class="form-control" id="search-field"
                                                   placeholder="Search">
                                        </div>
                                        <div class="dropdown-menu" id="search-result"></div>
                                    </div>
                                </div>

                                <!-- other fields -->
                                <div class="row p-2">
                                    <!-- Financial -->
                                    <div class="form-group col-md-3 my-1">
                                        <label for="methods_financial">Income Statement</label>
                                        <select id="methods_financial" name='methods_financial'
                                                class="form-control method-selector">
                                            {% for m in methods_financial %}
                                            {% if m == selected_financial_method %}
                                            <option selected>{{ m }}</option>
                                            {% else %}
                                            <option>{{ m }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- Balance Sheet -->
                                    <div class="form-group col-md-3 my-1">
                                        <label for="methods_balance_sheet">Balance Sheet</label>
                                        <select id="methods_balance_sheet" name='methods_balance_sheet'
                                                class="form-control method-selector">
                                            {% for m in methods_balance_sheet %}
                                            {% if m == selected_balance_sheet_method %}
                                            <option selected>{{ m }}</option>
                                            {% else %}
                                            <option>{{ m }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- Cash Flow -->
                                    <div class="form-group col-md-3 my-1">
                                        <label for="methods_cash_flow">Cash Flow</label>
                                        <select id="methods_cash_flow" name='methods_cash_flow'
                                                class="form-control method-selector">
                                            {% for m in methods_cash_flow %}
                                            {% if m == selected_cash_flow_method %}
                                            <option selected>{{ m }}</option>
                                            {% else %}
                                            <option>{{ m }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <!-- Operator buttons -->
                                    <div class="col-md-3">
                                        <div class="row">
                                            <button type="button" class="btn btn-outline-primary operator me-1"
                                                    style="width: 40px;" value="+">+
                                            </button>
                                            <button type="button" class="btn btn-outline-primary operator me-1"
                                                    style="width: 40px;" value="-">-
                                            </button>
                                            <button type="button" class="btn btn-outline-primary operator me-1"
                                                    style="width: 40px;" value="*">x
                                            </button>
                                            <button type="button" class="btn btn-outline-primary operator me-1"
                                                    style="width: 40px;" value="/">/
                                            </button>
                                        </div>
                                        <div class="row mt-1">
                                            <button type="button" class="btn btn-outline-secondary operator me-1"
                                                    style="width: 40px;" value="(">(
                                            </button>
                                            <button type="button" class="btn btn-outline-secondary operator me-1"
                                                    style="width: 40px;" value=")">)
                                            </button>
                                            <button type="button" class="btn btn-outline-danger operator me-1"
                                                    style="width: 85px;" value="AC">AC
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                Selected Method:<br>
                                <b id="selected_method" class="py-3">
                                    {% if selected_method %} {{ selected_method }} {% else %} Please select a method...
                                    {% endif %}
                                </b>
                                <input type="hidden" name="selected_method" id="selected_method_input"
                                       {% if selected_method %} value="{{ selected_method }}"
                                       {% else %} value="" {% endif %}>
                            </div>
                        </div>
                    </div>

                    <!-- Other params -->
                    <div class="col-md-12 my-1">
                        <div class="row my-3">
                            <!-- Ipo years -->
                            <div class="form-group col-md-2 my-1">
                                <label for="ipo_years">Min IPO Years</label>
                                <select id="ipo_years" name='ipo_years' class="form-control">
                                    {% for y in ipo_years %}
                                    {% if y == selected_ipo_years %}
                                    <option selected>{{ y }}</option>
                                    {% else %}
                                    <option>{{ y }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Sectors -->
                            <div class="form-group col-md-2 my-1">
                                <label for="sectors">Sector</label>
                                <select id="sectors" name="sectors" class="form-control">
                                    {% for s in sectors %}
                                    {% if s == selected_sectors %}
                                    <option selected>{{ s }}</option>
                                    {% else %}
                                    <option>{{ s }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Backtest years -->
                            <div class="form-group col-md-2 my-1">
                                <label for="backtest_years">Backtest Years</label>
                                <select id="backtest_years" name="backtest_years" class="form-control">
                                    {% for y in backtest_years %}
                                    {% if y == selected_backtest_years %}
                                    <option selected>{{ y }}</option>
                                    {% else %}
                                    <option>{{ y }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Positions hold -->
                            <div class="form-group col-md-2 my-1">
                                <label for="pos_hold">Position</label>
                                <select id="pos_hold" name="pos_hold" class="form-control">
                                    {% for p in pos_hold %}
                                    {% if p == selected_pos_hold %}
                                    <option selected>{{ p }}</option>
                                    {% else %}
                                    <option>{{ p }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Ranking methods -->
                            <div class="form-group col-md-2 my-1">
                                <label for="ranking_method">Ranking Method</label>
                                <select id="ranking_method" name="ranking_method" class="form-control">
                                    {% if selected_ranking_method == 'Descending' %}
                                    <option selected>Descending</option>
                                    <option>Ascending</option>
                                    {% else %}
                                    <option>Descending</option>
                                    <option selected>Ascending</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Submit button -->
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary col-md-12">Start</button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<!-- Backtest result -->
<div class="row">
    <div class="col-md-12">
        {% include 'partials/_messages.html' %}
        <div {% if messages %}class="d-none" {% else %}class="d-block" {% endif %}>
            <!-- Title -->
            <h4 class="my-3">
                Backtest Result for Top {{ selected_pos_hold }} and
                Bottom {{ selected_pos_hold }} ranked by:<br>
                {{ selected_method }}
            </h4>
            <p>(The unit of ranking result is either billion, million or thousand if the value > 1,000)</p>
            <!-- Top Stocks -->
            <div class="row">
                <p>
                    Top {{ selected_pos_hold }} Stocks (Total Performance
                    <b {% if long_total < 0 %} style="color: red" {% endif %}> {{ long_total }}%</b>
                    )
                </p>
                <table class="table table-sm table-striped">
                    <!-- Header -->
                    <tr>
                        {% for col in df_top.columns %}
                        <th class="text-center">{{ col }}</th>
                        {% endfor %}
                    </tr>

                    <!-- Data -->
                    {% for i, row in df_top.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Bottom Stocks -->
            <div class="row">
                <p>
                    Bottom {{ selected_pos_hold }} Stocks (Total Performance
                    <b {% if short_total < 0 %} style="color: red" {% endif %}>{{ short_total }}%</b>
                    )
                </p>
                <table class="table table-sm table-striped">
                    <!-- Header -->
                    <tr>
                        {% for col in df_bottom.columns %}
                        <th class="text-center">{{ col }}</th>
                        {% endfor %}
                    </tr>

                    <!-- Data -->
                    {% for i, row in df_bottom.iterrows %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Script -->
<script src="{% static 'js/backtest.js' %}"></script>
{% endblock content %}
