{% extends 'base.html' %}
{% load static %}
{% block title %}Long Short{% endblock title %}

{% block content %}
<!-- Content -->
<div>
    <!-- Modal (export basket trader) -->
    {% include 'long_short/export_basket_trader_modal.html' %}

    <!-- Modal (important information) -->
    {% include 'long_short/info_modal.html' %}

    <!-- Modal (loading) -->
    {% include 'partials/_loading_modal.html' %}

    <!-- Input params -->
    {% include 'long_short/input_parameters.html' %}

    <!-- Backtest result -->
    {% if result %}
    <!-- Summary -->
    <div class="mb-5">
        <!-- Title -->
        <div class="my-5">
            <h4 class="my-3">
                Backtest Result for Top {{ selected_pos_hold }} and Bottom {{ selected_pos_hold }} Stocks<br>
            </h4>
            <h5>
                Ranked by - {{ selected_method }}
            </h5>
            <ul>
                <li>(Stocks are omitted if the stock price is under ${{ selected_min_stock_price|floatformat:"0" }} from
                    the 30 days prior to re-balancing date)
                </li>
            </ul>
        </div>

            <!-- Summary table -->
            <table class="table table-sm table-bordered table-hover custom-shadow">
                <!-- Header -->
                <tr>
                    <th></th>
                    <th class="text-center">Top Stocks Perf(%)</th>
                    <th class="text-center">Bottom Stocks Perf(%)</th>
                    <th class="text-center">Total Perf(%)</th>
                    <th class="text-center">Annualized Perf(%)</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-center">(Buy Top Stocks, Sell Bottom Stocks)</th>
                    <th></th>
                </tr>
                <!-- Data -->
                {% for d in data %}
                <tr>
                    <th class="summary">{{ d.sector }}</th>
                    <td class="summary">{{ d.long_total }}%</td>
                    <td class="summary">{{ d.short_total }}%</td>
                    <td class="summary">{{ d.longshort_total }}%</td>
                    <td class="summary">{{ d.longshort_annualized }}%</td>
                </tr>
                {% endfor %}
                <tr class="bg-primary-subtle">
                    <th class="summary bg-primary-subtle">Total</th>
                    <td class="summary bg-primary-subtle">{{ long_total }}%</td>
                    <td class="summary bg-primary-subtle">{{ short_total }}%</td>
                    <td class="summary bg-primary-subtle">{{ longshort_total }}%</td>
                    <td class="summary bg-primary-subtle">{{ longshort_annualized }}%</td>
                </tr>
            </table>

            <!-- Export button -->
            <button class="btn btn-primary h-50"
                    data-bs-toggle="modal"
                    data-bs-target="#basket-trader-modal">
                Export csv File
            </button>
    </div>

    <!-- Result by sector -->
    <div class="row">
        <div class="col-md-12">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="sectorTabs" role="tablist">
                {% for d in data %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}"
                            id="tab-{{ d.sector|slugify }}"
                            data-bs-toggle="tab"
                            data-bs-target="#content-{{ d.sector|slugify }}"
                            type="button"
                            role="tab"
                            aria-controls="content-{{ d.sector|slugify }}"
                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ d.sector }}</button>
                </li>
                {% endfor %}
            </ul>

            <!-- Content -->
            <div class="tab-content" id="sectorTabsContent">
                {% for d in data %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                     id="content-{{ d.sector|slugify }}"
                     role="tabpanel"
                     aria-labelledby="tab-{{ d.sector|slugify }}">
                    <div class="p-3">
                        <h5>Sector - {{ d.sector }}</h5>
                        <ul>
                            <li>
                                (Value: {{ selected_method }})
                            </li>
                        </ul>

                        <!-- Top stocks -->
                        <div class="row">
                            <div class="table-responsive">
                                <label>
                                    Top {{ selected_pos_hold }} Stocks ( Total Performance
                                    <b class="{% if d.long_total < 0 %}text-danger{% endif %}">{{ d.long_total }}</b> )
                                </label>

                                <table class="table table-sm table-striped table-borderless border table-top">
                                    <!-- Header -->
                                    <tr>
                                        {% for col in d.df_top.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border start border-end" colspan="3">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <!-- Ticker, Value, Perf(%) -->
                                        {% for col in d.df_top.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border-bottom">Value</th>
                                        {% else %}
                                        <th class="text-center border-bottom">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>

                                    <!-- Data -->
                                    {% for i, row in d.df_top.iterrows %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                                <br>

                                <!-- Bottom stocks -->
                                <label>
                                    Bottom {{ selected_pos_hold }} Stocks ( Total Performance
                                    <b class="{% if d.short_total < 0 %}text-danger{% endif %}">{{ d.short_total }}</b> )
                                </label>
                                <table class="table table-sm table-striped table-borderless border table-bottom">
                                    <!-- Header -->
                                    <tr>
                                        {% for col in d.df_bottom.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border start border-end" colspan="3">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <!-- Ticker, Value, Perf(%) -->
                                        {% for col in d.df_bottom.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border-bottom">Value</th>
                                        {% else %}
                                        <th class="text-center border-bottom">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>

                                    <!-- Data -->
                                    {% for i, row in d.df_bottom.iterrows %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- Script -->
<script src="{% static 'js/longshort/longshort.js' %}" id="longshort-js" csrf_token="{{ csrf_token }}"
        result="{{ result }}"
></script>

{% endblock content %}
