{% extends 'base.html' %}
{% load static %}
{% block title %}Long Short{% endblock title %}

{% block content %}

<div>
    <!-- Modal (export basket trader) -->
    {% include 'long_short/export_basket_trader_modal.html' %}

    <!-- Modal (important information) -->
    {% include 'long_short/info_modal.html' %}

    <!-- Modal (loading) -->
    {% include 'partials/_loading_modal.html' %}

    <!-- Input params -->
    {% include 'long_short/input_parameters.html' %}

    <!-- Backtest result -->
    {% if result %}
    <!-- Summary -->
    <div class="mb-5">
        <!-- Title -->
        <h4 class="my-3">
            Backtest Result for Top {{ selected_pos_hold }} and Bottom {{ selected_pos_hold }} Stocks<br>
        </h4>
        <h5>
            Ranked by - {{ selected_method }}
        </h5>
        <ul>
            <li>(The unit of ranking result is either billion, million or thousand if the value > 1,000 or <
                -1,000)
            </li>
            <li>(Stocks are omitted if the stock price is under ${{ selected_min_stock_price|floatformat:"0" }} on
                re-balancing date)
            </li>
        </ul>
    </div>

    <!-- Result by sector -->
    <div class="row">
        <div class="col-md-12">
            <!-- Tabs -->
            <ul class="nav nav-tabs" id="sectorTabs" role="tablist">
                {% for d in data %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if forloop.first %}active{% endif %}"
                            id="tab-{{ d.sector|slugify }}"
                            data-bs-toggle="tab"
                            data-bs-target="#content-{{ d.sector|slugify }}"
                            type="button"
                            role="tab"
                            aria-controls="content-{{ d.sector|slugify }}"
                            aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">
                        {{ d.sector }}
                    </button>
                </li>
                {% endfor %}
            </ul>

            <!-- Content -->
            <div class="tab-content" id="sectorTabsContent">
                {% for d in data %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}"
                     id="content-{{ d.sector|slugify }}"
                     role="tabpanel"
                     aria-labelledby="tab-{{ d.sector|slugify }}">
                    <div class="p-3 mb-5">
                        <h5 class="mb-3">Sector - {{ d.sector }} ( annul. {{ d.annu_return }}% )</h5>

                        <!-- Top stocks -->
                        <div class="row">
                            <label>
                                Top {{ selected_pos_hold }} Stocks ( Total Performance
                                <b class="{% if d.long_total < 0 %}text-danger{% endif %}">{{ d.long_total }}</b> )
                            </label>

                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-borderless border table-top">
                                    <!-- Header -->
                                    <tr>
                                        {% for col in d.df_top.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border start border-end" colspan="3">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <!-- Ticker, Value, Perf(%) -->
                                        {% for col in d.df_top.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border-bottom">Value</th>
                                        {% else %}
                                        <th class="text-center border-bottom">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>

                                    <!-- Data -->
                                    {% for i, row in d.df_top.iterrows %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>

                        <!-- Bottom stocks -->
                        <div class="row">
                            <label>
                                Bottom {{ selected_pos_hold }} Stocks ( Total Performance
                                <b class="{% if d.short_total < 0 %}text-danger{% endif %}">{{ d.short_total }}</b> )
                            </label>

                            <div class="table-responsive">
                                <table class="table table-sm table-striped table-borderless border table-bottom">
                                    <!-- Header -->
                                    <tr>
                                        {% for col in d.df_bottom.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border start border-end" colspan="3">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                    <tr>
                                        <!-- Ticker, Value, Perf(%) -->
                                        {% for col in d.df_bottom.columns %}
                                        {% if col != 'Ticker' and col != 'Perf(%)' %}
                                        <th class="text-center border-bottom">Value</th>
                                        {% else %}
                                        <th class="text-center border-bottom">{{ col }}</th>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>

                                    <!-- Data -->
                                    {% for i, row in d.df_bottom.iterrows %}
                                    <tr>
                                        {% for cell in row %}
                                        <td>{{ cell }}</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>


            <!--            {% for d in data %}-->
            <!--            <div class="rounded-3 p-3 mb-5 custom-shadow">-->
            <!--                <h5 class="mb-3">Sector - {{ d.sector }} ( annul. {{ d.annu_return }}% )</h5>-->

            <!--                &lt;!&ndash; Top stocks &ndash;&gt;-->
            <!--                <div class="row">-->
            <!--                    <label>-->
            <!--                        Top {{ selected_pos_hold }} Stocks (Total Performance-->
            <!--                        {% if d.long_total < 0 %}-->
            <!--                        <b style="color: red">{{ d.long_total }}</b>-->
            <!--                        {% else %}-->
            <!--                        <b>{{ d.long_total }}</b>-->
            <!--                        {% endif %}-->
            <!--                        )-->
            <!--                    </label>-->
            <!--                    {% if d.long_total %}<input type="hidden" id="long-total" value="{{ long_total }}">{% endif %}-->
            <!--                    <div class="table-responsive">-->
            <!--                        <table class="table table-sm table-striped table-borderless border" id="table-top">-->
            <!--                            &lt;!&ndash; Header &ndash;&gt;-->
            <!--                            <tr>-->
            <!--                                &lt;!&ndash; Period &ndash;&gt;-->
            <!--                                {% for col in d.df_top.columns %}-->
            <!--                                {% if col != 'Ticker' and col != 'Perf(%)'%}-->
            <!--                                <th colspan="3" class="text-center border-start border-end">{{ col }}</th>-->
            <!--                                {% endif %}-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->
            <!--                            <tr>-->
            <!--                                &lt;!&ndash; Ticker, Value, Perf(%) &ndash;&gt;-->
            <!--                                {% for col in d.df_top.columns %}-->
            <!--                                {% if col != 'Ticker' and col != 'Perf(%)'%}-->
            <!--                                <th class="text-center border-bottom">Value</th>-->
            <!--                                {% else %}-->
            <!--                                <th class="text-center border-bottom">{{ col }}</th>-->
            <!--                                {% endif %}-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->

            <!--                            &lt;!&ndash; Data &ndash;&gt;-->
            <!--                            {% for i, row in d.df_top.iterrows %}-->
            <!--                            <tr>-->
            <!--                                {% for cell in row %}-->
            <!--                                <td>{{ cell }}</td>-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->
            <!--                            {% endfor %}-->
            <!--                        </table>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                &lt;!&ndash; Bottom stocks &ndash;&gt;-->
            <!--                <div class="row">-->
            <!--                    <label>-->
            <!--                        Bottom {{ selected_pos_hold }} Stocks (Total Performance-->
            <!--                        {% if d.short_total < 0%}-->
            <!--                        <b style="color: red;">{{ d.short_total }}</b>-->
            <!--                        {% else %}-->
            <!--                        <b>{{ d.short_total }}</b>-->
            <!--                        {% endif %}-->
            <!--                        )-->
            <!--                    </label>-->
            <!--                    {% if d.short_total %}<input type="hidden" id="short-total" value="{{ short_total }}">{% endif %}-->
            <!--                    <div class="table-responsive">-->
            <!--                        <table class="table table-sm table-striped table-borderless border" id="table-bottom">-->
            <!--                            &lt;!&ndash; Header &ndash;&gt;-->
            <!--                            <tr>-->
            <!--                                &lt;!&ndash; Period &ndash;&gt;-->
            <!--                                {% for col in d.df_bottom.columns %}-->
            <!--                                {% if col != 'Ticker' and col != 'Perf(%)'%}-->
            <!--                                <th colspan="3" class="text-center border-start border-end">{{ col }}</th>-->
            <!--                                {% endif %}-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->
            <!--                            <tr>-->
            <!--                                &lt;!&ndash; Ticker, Value, Perf(%) &ndash;&gt;-->
            <!--                                {% for col in d.df_bottom.columns %}-->
            <!--                                {% if col != 'Ticker' and col != 'Perf(%)'%}-->
            <!--                                <th class="text-center border-bottom">Value</th>-->
            <!--                                {% else %}-->
            <!--                                <th class="text-center border-bottom">{{ col }}</th>-->
            <!--                                {% endif %}-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->

            <!--                            &lt;!&ndash; Data &ndash;&gt;-->
            <!--                            {% for i, row in d.df_bottom.iterrows %}-->
            <!--                            <tr>-->
            <!--                                {% for cell in row %}-->
            <!--                                <td>{{ cell }}</td>-->
            <!--                                {% endfor %}-->
            <!--                            </tr>-->
            <!--                            {% endfor %}-->
            <!--                        </table>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            {% endfor %}-->

            <!-- Export button -->
            <div class="row mt-3 p-3">
                <button class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#basket-trader-modal">
                    Export Basket Trading File for IB Trader WorkStation
                </button>
            </div>
        </div>
    </div>
    {% endif %}
</div>

<!-- Script -->
<script src="{% static 'js/longshort/longshort.js' %}" id="longshort-js" csrf_token="{{ csrf_token }}"
        result="{{ result }}"
></script>

{% endblock content %}
