{% extends "client_area/index.html" %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}

{% block client_area_content %}
<div class="container-fluid p-4">
    <h2 class="mb-4">{{ title }}</h2>

    {{ form.errors.profile_picture }}

    <!-- Profile Form -->
    <form action="" method="post" disabled="true" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row d-flex p-4 border rounded-2 shadow">
            
            <!-- Profile picture -->
            <div class="col-md-4 text-center p-2">
                
                {{ form.profile_picture }}

                <label for="profile-picture-input" class="profile-picture-wrapper">
                    <img id="profile-picture" src="{% if user.profile.profile_picture %}
                                {{ user.profile.profile_picture.url }}
                                {% else %}
                                {% static 'images/default-profile-pic.png' %}
                                {% endif %}" alt="Profile Picture" class="profile-picture" style="max-height: 300px">
                    <div class="profile-picture-overlay">
                        <i class="bi bi-camera-fill"></i>
                    </div>
                </label>
            </div>

            <!-- Other Information -->
            <div class="col-md-8 p-4">
                <div class="col-md-8">
                    {% for field in form %}
                    {% if field.label.lower != "profile picture" %}
                    <div class="my-3">
                        {{ field.label }}
                        {{ field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <!-- Save/ Cancel Button -->
                <br>
                <input method="post" type="submit" value="Save" class="btn btn-primary">
                <input method="" type="button" value="Cancel" class="btn btn-secondary"
                    onclick=location.href="{% url 'client_profile' %}">
            </div>
        </div>
    </form>
</div>
{% endblock client_area_content %}

{% block script %}
{{ block.super }}
<script src="{% static 'js/client_area/client_profile.js' %}"></script>
{% endblock script %}