{% extends "client_area/index.html" %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block client_area_content %}
<div class="container-fluid p-4">
    <h2 class="mb-4">{{ title }}</h2>

    <!-- Strategies List Form -->
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Save/ Cancel Button -->
        <br>
        <input method="post" type="submit" value="Save" class="btn btn-primary">
        <input method="" type="button" value="Cancel" class="btn btn-secondary"
            onclick="location.href='{% url 'strategies_list' %}'">
    </form>
</div>
{% endblock client_area_content %}