<!doctype html>
{% load static %}

<html lang="en" data-bs-theme="dark">
<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Investment Web{% endblock title %}</title>

    <!-- Favicon -->
    <link href="{% static 'images/favicons/favicon.png' %}" rel="icon" sizes="32x32" type="image/png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap5.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- ApexCharts -->
    <link rel="stylesheet" href="{% static 'css/apexcharts.css' %}">
    <script src="{% static 'js/apexcharts.js' %}" type="module"></script>
    <!--    <script src="{% static 'js/apexcharts.common.js' %}" type="module"></script>-->
    <script src="{% static 'js/apexcharts.esm.js' %}" type="module"></script>
    <script src="{% static 'js/apexcharts.min.js' %}" type="module"></script>
    <!--    <script src="{% static 'js/apexcharts2.js' %}" type="module"></script>-->


    <!-- Others -->
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/social_account.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>

<!-- Body -->
<body>
<main>
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar" style="width: 300px; overflow: hidden;">
        <ul class="list-unstyled ms-3">
            <!-- todo: testing -->
            <li class="m-2">
                <button class="btn btn-outline-primary" id="sidebar-toggle-btn"><</button>
            </li>
            
            <!-- Home -->
            <li class="d-flex align-items-center">
                <button class="btn"><i class="fas fa-home" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true"></i></button>
                <a class="text-decoration-none ms-2" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true"><b>Home</b></a>
            </li>
            <li class="d-flex align-items-center">
                <div class="collapse ms-5" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled">
                    <li><a href="{% url 'us-economy' %}">Financial Weather</a></li>
                </ul>
                </div>
            </li>

            <!-- Dashboard -->
            <li class="d-flex align-items-center">
                <button class="btn"><i class="fas fa-mug-hot" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="true"></i></button>
                <a class="text-decoration-none ms-2" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="true"><b>Dashboard</b></a>
            </li>
            <li class="d-flex align-items-center">
                <div class="collapse ms-5" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled">
                        <li><a href="{% url 'performance' %}">Performance</a></li>
                    </ul>
                </div>
            </li>

            <!-- Strategies -->
            <li class="d-flex align-items-center">
                <button class="btn"><i class="fas fa-hammer" data-bs-toggle="collapse"
                    data-bs-target="#strategies-collapse" aria-expanded="true"></i></button>
                <a class="text-decoration-none ms-2" data-bs-toggle="collapse"
                    data-bs-target="#strategies-collapse" aria-expanded="true"><b>Strategies Builder</b></a>
            </li>
            <li class="d-flex align-items-center"></li>
                <div class="collapse ms-5" id="strategies-collapse">
                    <ul class="btn-toggle-nav list-unstyled">
                        <li><a href="{% url 'longshort-backtest' %}">LongShort</a></li>
                    </ul>
                </div>
            </li>

            <!-- Separator -->
            <hr class="mx-2">


            <!-- Strategies -->
            <li class="d-flex align-items-center">
                <button class="btn"><i class="fas fa-user" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="true"></i></button>
                <a class="text-decoration-none ms-2" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="true">
                    {% if user.is_authenticated %}
                        <b>Account - {{ user.username }}</b>
                    {% else %}
                        <b>Account</b>
                    {% endif %}
                </a>
            </li>
            <li class="d-flex align-items-center"></li>
                <div class="collapse ms-5" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled">
                        <li>
                        {% if user.is_authenticated %}
                            <a href="{% url 'account_logout' %}">Sign Out</a>
                        {% else %}
                            <a href="{% url 'account_login' %}">Sign In/ Log In</a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </li>

            <!-- Theme -->
            <li class="d-flex align-items-center">
                <button class="btn theme-toggle">
                    <i class="fas fa-moon"></i></button>
                <a class="text-decoration-none ms-2 theme-toggle">
                    <b>Dark</b></a>
            </li>
            
        </ul>
    </div>

    <!-- Content -->
    <div class="p-3 w-100" style="overflow-y: auto;">
        {% include 'partials/_messages.html' %}
        {% block content %}
        <h1>Welcome To Investment Web</h1>
        {% endblock content %}
    </div>
</main>

<script src="{% static 'js/base.js' %}" type="module"></script>
</body>
</html>