<!doctype html>
{% load static %}
<html lang="en" data-bs-theme="dark">
<!-- Head -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Investment Web{% endblock title %}</title>

    <!-- Favicon -->
    <link href="{% static 'images/favicons/favicon.png' %}" rel="icon" sizes="32x32" type="image/png">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.bootstrap5.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    <!-- ApexCharts -->
    <link rel="stylesheet" href="{% static 'css/apexcharts.css' %}">
    <script src="{% static 'js/apexcharts.js' %}" type="module"></script>
    <!--    <script src="{% static 'js/apexcharts.common.js' %}" type="module"></script>-->
    <script src="{% static 'js/apexcharts.esm.js' %}" type="module"></script>
    <script src="{% static 'js/apexcharts.min.js' %}" type="module"></script>
    <!--    <script src="{% static 'js/apexcharts2.js' %}" type="module"></script>-->


    <!-- Others -->
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/social_account.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_dark_mode.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>

<!-- Body -->
<body>
<main>
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px;">
        <ul class="list-unstyled ps-0">
            <!-- Home -->
            <li class="mb-1">
                <button class="btn align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#home-collapse" aria-expanded="false">
                    <i class="fas fa-home me-2"></i>Home
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'us-economy' %}" class="rounded">Financial Weather</a></li>
                    </ul>
                </div>
            </li>

            <!-- Dashboard -->
            <li class="mb-1">
                <button class="btn align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <i class="fas fa-mug-hot me-2"></i>Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'performance' %}" class="rounded">Performance</a></li>
                    </ul>
                </div>
            </li>

            <!-- Strategies -->
            <li class="mb-1">
                <button class="btn align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#orders-collapse" aria-expanded="false">
                    <i class="fas fa-hammer me-2"></i>Strategies Builder
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="{% url 'longshort-backtest' %}" class="rounded">LongShort</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>

            <!-- Account -->
            <li class="mb-1">
                <button class="btn align-items-center rounded collapsed" data-bs-toggle="collapse"
                        data-bs-target="#account-collapse" aria-expanded="false">
                    {% if user.is_authenticated %}
                    <i class="fas fa-user me-2"></i>Account - {{ user.username }}
                    {% else %}
                    <i class="fas fa-user me-2"></i>Account
                    {% endif %}
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'account_logout' %}" class="rounded">Sign Out</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}" class="rounded">Sign In / Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </li>

            <!-- Theme -->
            <li class="mb-1">
                <button id="theme-toggle" class="btn align-items-center rounded">
                    <i class="fas fa-moon me-2"></i><label style="cursor: pointer;">Dark</label>
                </button>
            </li>
        </ul>
    </div>

    <!-- Content -->
    <div class="py-3 px-5 w-100" style="overflow-y: auto;">
        {% include 'partials/_messages.html' %}
        {% block content %}
        <h1>Welcome To Investment Web</h1>
        {% endblock content %}
    </div>
</main>

<script src="{% static 'js/base.js' %}" type="module"></script>
</body>
</html>