{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Backtest strategies, export virtual trading orders, and access exclusive virtual portfolios.">
    <title>AlgoAnywhere - {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    {% block head %}{% endblock head %}
</head>

<body>
    <header class="animate__animated animate__fadeInDown">
        <div class="d-flex flex-wrap p-3 w-100">
            <!-- Logo -->
            <div class="logo-wrapper">
                {% include 'partials/_logo.html' %}
            </div>

            <!-- Header Content -->
            <div class="header-content"">
                {% block header %}{% endblock header %}
            </div>
        </div>

        <!-- Navigation Bar -->
        <nav class=" navbar navbar-expand-lg p-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <!-- Home -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'frontpage' %}">Home</a>
                        </li>
                        <!-- Strategies -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'strategy_pool' %}">Strategies</a>
                        </li>
                        <!-- Pricing -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing - Free Limited Time</a>
                        </li>
                        <!-- Client Area -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'client_area' %}">Client Area</a>
                        </li>
                    </ul>
                </div>
                </nav>
    </header>

    <main>
        <!-- Message Block -->
        <div class="d-flex mx-1 animate__animated animate__slowest animate__fadeInfadeOut"
            style="position: fixed; z-index: 999; right: 0;">
            {% include 'partials/_messages.html' %}
        </div> 
        <!-- Main Content -->
        {% block content %}{% endblock content %}
    </main>

    <footer class="animate__animated animate__fadeInUp">
        <p>&copy; 2025 AlgoAnywhere. All rights reserved.</p>
    </footer>

    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/base.js' %}"></script>
    {% block script %}{% endblock script %}
</body>

</html>