{% extends 'base.html' %}
{% load static %}
{% block title %}Add Portfolio{% endblock title %}

{% block content %}
<!-- Modal (loading) -->
{% include 'partials/_loading_modal.html' %}

<div class="card-body w-100 p-3 shadow p-3 mb-5 bg-white rounded">
    <!-- Portfolio uploader -->
    <h4>Add a portfolio</h4>
    <p>Please upload a portfolio. You can export the csv file from
        IB Trader WorkStation > Portfolio > right click > Import/Export > Export Page Content.
        Then select that file from the below 'Browse...' button and upload it.</p>

    <form method="post" enctype="multipart/form-data" id="portfolio-form">
        {% csrf_token %}
        {% include 'performance/_portfolio_form.html' %}
        <button type="submit" class="btn btn-primary mt-3" id="button-upload" disabled>Upload</button>
    </form>
</div>

<!-- Script -->
window.onload = function() {
<script src="{% static 'js/performance/performance.js' %}" id="performance-js" csrf_token="{{ csrf_token }}"
        type="module"></script>
}

{% endblock content %}